@font-face {
    font-family: myFont;
    src: url(assets/Mintmolly-gx1w5.ttf);
}

body {
    font-family: 'myFont', Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    padding: 20px;
    background-color: #f0f5f9;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #12232e;
    font-size: 36px;
    margin-top: 50px;
}

#description {
    color: #12232e;
    font-size: 18px;
    margin-bottom: 20px;
}

fieldset {
    border: none;
    margin-bottom: 20px;
}

.label-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px;
}

label {
    color: #12232e;
    font-size: 16px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 150px;
    margin-bottom: 10px;
    background-color: #d1e9f2;
    color: #12232e;
}

select {
    width: 100%;
    max-width: 320px;
}

.radio-options {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.radio-options label {
    margin-right: 20px;
    font-size: 16px;
}

.board-game-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.board-game-selection input[type="checkbox"] {
    margin: 0 5px;
}

.tell-us-more {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    max-width: 600px;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #d1e9f2;
    color: #12232e;
}

#radio-question {
    text-align: center;
    margin-bottom: 20px;
}

.submit-container {
    text-align: center;
    margin-bottom: 0px;
}

#submit {
    padding: 10px 20px;
    background-color: #12232e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#submit:hover {
    background-color: #0b1624;
}
