@font-face {
    font-family: myFont;
    src: url(assets/Mintmolly-gx1w5.ttf);
}

body {
    background-image: url("assets/chessbackground.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

fieldset {
    border: none;
}

#title {
    color: #953553;
    font-size: 60px;
    text-align: center;
    font-family: myFont;
    margin: 0;
}

#description {
    color: #953553;
    font-size: 25px;
    text-align: center;
}

.personal-info-input {
    text-align: center;
    color: #953553;
}

#name-label {
    display: grid;
    grid-template-columns: 15%;
    justify-content: center;
    padding: 5px;
}

#email-label {
    display: grid;
    grid-template-columns: 15%;
    justify-content: center;
    padding: 5px;
}

#number-label {
    display: grid;
    grid-template-columns: 8%;
    justify-content: center;
    padding: 5px;
}