@font-face {
    font-family: myFont;
    src: url(assets/Mintmolly-gx1w5.ttf);
}

body {
    /* background-image: url("assets/chessbackground.jpg"); */
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

fieldset {
    border: none;
}

/* hr {
    display: block;
    border: none;
    height: max-content;
    background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/60481/chess-pieces-clipart-md.png);
} */

#title {
    color: #953553;
    font-size: 60px;
    text-align: center;
    font-family: myFont;
    margin: 0;
}

#description {
    color: #953553;
    font-size: 25px;
    text-align: center;
}

.personal-info-input {
    text-align: center;
    color: #953553;
}

#name-label {
    display: grid;
    grid-template-columns: 15%;
    justify-content: center;
    padding: 5px;
}

#email-label {
    display: grid;
    grid-template-columns: 15%;
    justify-content: center;
    padding: 5px;
}

#number-label {
    display: grid;
    grid-template-columns: 8%;
    justify-content: center;
    padding: 5px;
}

#current-role {
    color: #953553;
    display: grid;
    grid-template-columns: 20%;
    justify-content: center;
    padding: 12px;
}

#radio-question {
    display: grid;
    grid-template-columns: 30%;
    justify-content: center;
    padding: 5px;
    margin-left: 3%;
}

.radio-options {
    display: grid;
    grid-template-columns: 30%;
    justify-content: center;
    padding: 5px;
    margin-left: 15%;
}